

canvas {
    position: absolute;
}

#canvas2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  -webkit-animation: fadeout 15s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation:    fadeout 15s; /* Firefox < 16 */
   -ms-animation:    fadeout 15s; /* Internet Explorer */
    -o-animation:    fadeout 15s; /* Opera < 12.1 */
       animation:    fadeout 15s;
  opacity: 0;
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

